<%- include('header'); -%> 
<body>
    <div class="container home">    
        <div id="heading"><h1>Welcome</h1>
    </div>

    <div class="box">
        <div class="item a">
            <a href="/login"><button type="button" class="btn btn-light">Login</button></a>
        </div>
        <div class="item b">
            <a href="/register"><button type="button" class="btn btn-primary">Register</button></a>
            
                
        </div>

    </div>
    </div>
</body>
<%- include('footer'); -%> 